@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Montserrat";
    font-size: 18px;
    background-color: #FEFCFE;
    color: #2B3541;
    margin: 0;
}
.header-mobile {
    display: none;
}
.wraper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
}
.logo {
    margin-left: 46px;
}
.social {
    width: 90px;
    height: 30px;
    margin-right: 40px;
}
.nav-social {
    margin-right: 30px;
    opacity: 0.8;
}
.nav-social:hover {
    opacity: 1;
    transform: scale(1.3);
}
nav {
    max-width: 1150px;
    width: 100%;
    padding-top: 7px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.nav-item {
    padding-left: 0;
    margin-right: 54px;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
}
.nav-link {
    text-decoration: none;
    color: #2B3541;
}
.nav-link:hover {
    color: #181F27;
}
.nav-item:hover {
    border-bottom: 1px solid #2B3541;
}
.image {
    position: absolute;
    right: -185px;
    top: 21px;
    z-index: -1;
}
.title {
    padding-top: 207px;
    margin-left: 4px;
    position: relative;
}
.title-h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.title-training {
    font-size: 40px;
    line-height: 125%;
    margin-top: 42px;
    margin-bottom: 22px;
}
.title-training-number {
    padding-right: 10px;
}
.title-training-description {
    line-height: 150%;
    padding-left: 90px;
}
.button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    line-height: 150%;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.title-button {
    background-color: #FBF138;
    color: #2B3541;
    padding: 20px 32px;
    margin-left: 90px;
    margin-top: 16px;
    transition: 0.2s ease;
}
.title-button:hover, 
.about-button:hover {
    color: #FBF138;
    background-color: #2B3541;
}
.arrow {
    padding-top: 182px;
    padding-left: 90px;
}
.title-h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}
.events {
    display: flex;
    justify-content: space-between;
}
.section-events {
    padding-top: 117px;
}
.event-container {
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, rgba(251,241,56,0.3) 0%, rgba(253, 249, 182, 0) 100%);
}
.event-item {
    flex: 0 0 calc(32% + 4px);
    width: 100%;
    height: 600px;
    background-position:center;
    background-size: cover;
    position: relative;
}
.event-container:hover {
    background: linear-gradient(180deg, rgba(251,241,56,0.6) 0%, rgba(253, 249, 182, 0) 100%);
}
.event-container:hover .event-button {
   opacity: 1;
}
.event-container:hover .event-hashtag {
    opacity: 0;
}
.event-item p {
    margin: 0;
}
.event-date {
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    padding-top: 30px;
    padding-left: 34px;
}
.event-name {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 20px;
    padding-left: 34px;
}
.button-mobile-event {
    display: none;
}
.event-button {
    color: #FBF138;
    background-color: #2B3541;
    padding: 20px 37px;
    margin-top: 39px;
    margin-left: 34px;
    opacity: 0;
    transition: 0.5s ease;
}
.event-hashtag {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    transition: 0.5s ease;
}
.event-hashtag-type {
    margin: 0;
    padding: 12px 20px;
    background-color: #FBF138;
}
.event-item-01 {
    background-image: url(../img/1x/maraphon.png);
}
.event-item-02 {
    background-image: url(../img/1x/Vebinar\ 1.png);
}
.event-item-03 {
    background-image: url(../img/1x/Vebinar\ 2.png);
}
.event-item-01:hover {
    background-image: url(../img/1x/maraphon\ hover.png)
}
.section-training {
    padding-top: 120px;
}
.training-title {
    display: flex;
    justify-content: space-between;
}
.training-date {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin-top: 52px;
}
.training {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 130px 300px;
    grid-gap: 20px;
}
.training-item {
    border: 1px solid rgba(43,53,65,0.5);
    position: relative;
}
.training-item-active {
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 00%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.training-item-active .training-description {
    opacity: 1;
}
.training-item-active .training-item-container, 
.training-item-active .training-item-image {
    transform: translateY(-110px);
}
.training-item-01 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.training-item-02 {
    grid-column: 2/3;
    grid-row: 1/3;
}
.training-item-03 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.training-item-04 {
    grid-column: 1/2;
    grid-row: 2/4;
}
.training-item-05 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.training-item-06 {
    grid-column: 3/4;
    grid-row: 2/4;
}
.training-description {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;
    opacity: 0;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}
.training-item-time {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    float: right;
    margin-right: 30px;
    color: #010101;
}
.training-item-container {
    position: absolute;
    left: 30px;
    bottom: 0;
}
.training-item-image {
    position: absolute;
    left: 30px;
    bottom: 74px;
}
.training-item:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 00%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 0px 20px 2px rgba(43,53,65,0.1);
    cursor: default;
}
.training-item:hover .training-description {
    opacity: 1;
    transition: 1.6s;
}
.training-item:hover .training-item-container, 
.training-item:hover .training-item-image {
    transform: translateY(-110px);
    transition: 0.6s;
}
.training-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    margin-top: 40px;
}
.section-form {
    background-color: #F3F3F3;
    margin-top: 160px;
    padding-bottom: 74px;
}
.form {
    max-width: 660px;
    margin: 0 auto;
    position: relative;
}
.circle {
    position: absolute;
    left: -23px;
    top: 51px;
}
.form .title-h3 {
    padding-top: 80px;
    position: relative;
    z-index: 1;
    margin-bottom: 22px;
    margin-left: 36px;
}
.form-field {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    margin-left: 22px;
    padding-top: 18px;
}
.form-email {
    background-color: #FFFFFF;
    padding: 20px 32px 20px 20px;
    margin-left: 10px;
    border: none;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    max-width: 308px;
    width: 100%;
    opacity: 0.3;
}
.form-email:focus {
    outline: none;
}
.form-button {
    background-color: #FBF138;
    color: #2B3541;
    transition: 0.2s ease;
    padding: 20px 44px;
    margin-left: 31px;
}
.form-button:hover {
    color: #FBF138;
    background-color: #2B3541;
}
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 1;
}
.checkbox-text::before {
    content: '';
    display: inline-block;
    background: url(../img/icons/check\ box\ empty.svg);
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.checkbox:checked+.checkbox-text::before {
    background: url(../img/icons/check_box.svg);
}
.checkbox-text {
    font-size: 11px;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}
.checkbox-text span {
    opacity: 0.5;
}
.checkbox-link {
    color: #2B3541;
    font-size: 11px;
    line-height: 150%;
    opacity: 0.5;
}
.checkbox-link:hover {
    opacity: 1;
}
.section-about {
    padding-top: 160px;
    padding-bottom: 154px;
}
.about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.about-title {
    grid-column: 1/3;
}
.about .title-h3 {
    margin: 0;
}
.about-description {
    font-size: 18px;
    line-height: 150%;
    padding-right: 80px;
    margin-top: 20px;
}
.about-button {
    background-color: #FBF138;
    color: #2B3541;
    padding: 20px 50px;
    transition: 0.2s ease;
    margin-top: 18px;
}
.about-image {
    grid-column: 3/5;
    position: relative;
    width: 100%;
    height: 335px;
    background-image: url(../img/1x/trainer.png);
    margin-bottom: 65px;
}
.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251,241,56,0.3) 0%, rgba(253, 249, 182, 0) 100%);
    background-position: center;
}
.about-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
}
.about-item-description {
    line-height: 150%;
    opacity: 0.6;
}
.about-item-01 {
    padding: 2px 40px 0 0;
}
.about-item-02 {
    padding: 2px 0 0 13px;
}
.about-item-03 {
    padding: 2px 0 0 78px;
}
.about-item-04 {
    padding: 2px 0 0 81px;
}
.button-mobile {
    display: none;
}
footer {
    background-color: #F3F3F3;
}
.footer {
    max-width: 1140px;
    margin: 0 auto;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 56px;
}
.footer-top .nav-item {
    margin-left: 45px;
    margin-right: 45px;
}
.footer-top .nav-link {
    font-size: 14px;
    line-height: 150%;
}
.footer-social {
    position: absolute;
    right: -32px;
    top: 46px;
    z-index: 1;
}
.footer-circle {
    position: absolute;
    right: 258px;
    top: 34px;
}
.footer-email {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding-left: 144px;
    padding-right: 146px;
    z-index: 1;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 30px;
}
.footer-bottom div {
    display: inline-flex;
}
.footer-bottom p {
    font-size: 14px;
    line-height: 150%;
    opacity: 0.3;
    margin: 0;
}
.footer-link {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    padding-left: 5px;
}
.footer-link:hover {
    opacity: 1;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    position: fixed!important;
    width: 100%!important;
    top: -42px!important;
    left: 0!important;
    z-index: 10;
}
.ui-widget-header {
    background: #FEFCFE!important;
    border: none;
}
.ui-widget.ui-widget-content {
    border: none;
}
.ui-button .ui-icon {
    opacity: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    right: 1.3em;
    top: 180%;
    z-index: 11;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    border: none;
    background-color: transparent;
    background-image: url(../img/close.svg);
}
.logo-mobile {
    padding-top: 10px;
}
.nav-mobile {
    list-style-type: none;
    padding-left: 0;
}
.nav-mobile .nav-item {
    padding: 25px 0;
    border-bottom: 1px solid rgba(43, 53, 65, 0.2);
}
.nav-mobile .nav-item:last-child {
    border-bottom: none;
}
.nav-mobile .nav-link {
    font-size: 20px;
}
.social-mobile {
    float: right;
}

@media (max-width: 1024px) {
    nav {
        margin-left: 30px;
        max-width: 900px;
    }
    .image {
        right: 0px;
        max-width: 800px;
        width: 100%;
    }
    .arrow {
        padding-top: 80px;
    }
    .footer-social {
        right: 0;
    }
    .footer-email {
        padding-left: 0px;
        padding-right: 146px;
    }
}
@media (max-width: 900px) {
    .title {
        padding-top: 190px;
    }
    .title-h1, 
    .title-training {
        font-size: 30px;
    }
    .title-training-description {
        padding-left: 70px;
    }
    .title-button {
        margin-left: 70px;
    }
    .arrow {
        padding-top: 120px;
        padding-left: 70px;
    }
    .training-description {
        font-size: 16px;
    }
    .about-item-01, 
    .about-item-02, 
    .about-item-03, 
    .about-item-04  {
        padding: 2px 5px 0 5px;
    }
    .footer-top .nav-item {
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width: 830px) {
    .nav-item {
        margin-right: 35px;
    }
    .title {
        padding-top: 720px;
        padding-left: 40px;
    }
    .title-h1, .title-training {
        font-size: 40px;
    }
    .arrow {
        display: none;
    }
    .events {
        flex-wrap: wrap;
    }
    .event-item {
        flex: 0 0 49%;
        margin-bottom: 20px;
        height: 550px;
    }
    .event-item-03 {
        flex: 0 0 99%;
    }
    .event-container {
        height: 550px;
    }
    .training {
        grid-template-rows: 360px 130px 360px;
    }
    .training-item:hover .training-item-container, 
    .training-item:hover .training-item-image {
        transform: translateY(-130px);
    }
    .training-item-active .training-item-container, 
    .training-item-active .training-item-image {
        transform: translateY(-130px);
    }
    .about-item-01, 
    .about-item-03 {
        grid-column: 1/3;
    }
    .about-item-02, 
    .about-item-04 {
        grid-column: 3/5;
    }
    .footer-top .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .nav-item {
        margin-right: 20px;
    }
    .nav-link {
        font-size: 16px;
    }
    nav {
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .training {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
    .training-item-01 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .training-item-02 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .training-item-03 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .training-item-04 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .training-item-05 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .training-item-06 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .training-item:hover .training-item-container, 
    .training-item:hover .training-item-image, 
    .training-item-active .training-item-container, 
    .training-item-active .training-item-image {
        transform: translateY(-90px);
    }
    .about-image {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
    }
    .footer-top {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .footer-top .nav {
        display: flex;
        justify-content: space-between;
    }
    .footer-top .nav-item {
        margin-left: 20px;
        margin-right: 30px;
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-email {
        padding-left: 44px;
        padding-right: 0;
    }
    .footer-circle {
        left: 0;
        top: 100px;
    }
    .footer-social {
        top: 100px;
    }
    .footer-bottom {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 670px) {
    header {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    .menu {
        border: none;
        background-color: transparent;
    }
    .title-h1, 
    .title-training, 
    .title-h3 {
        font-size: 30px;
    }
    .event-name {
        font-size: 24px;
    }
    .event-item, 
    .event-container {
        height: 500px;
    }
    .training-date {
        font-size: 24px;
        margin-top: 35px;
    } 
    .form-email {
        max-width: 100%;
        margin-left: 0;
    }
    .form-button {
        margin-left: 0;
        order: 1;
        width: 100%;
        margin-top: 10px;
    }   
}
@media (max-width: 610px) {
    .title {
        padding-top: 600px;
    }
    .section-events {
        padding-top: 60px;
    }
    .event-item, 
    .event-container {
        height: 450px;
    }
    .section-training {
        padding-top: 60px;
    }
    .training {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 206px);
    }
    .training-item-01 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .training-item-02 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .training-item-03 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .training-item-04 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .training-item-05 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .training-item-06 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .training-item-image {
        left: 20px;
        bottom: 20px;
    }
    .training-item-container, 
    .training-description {
        left: 130px;
    }
    .training-item:hover .training-item-image, 
    .training-item-active .training-item-image {
        transform: translateY(0);
    }
    .section-form {
        margin-top: 100px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
    }
    .form-field {
        flex-wrap: wrap;
        margin-left: 0;
    }
    .about {
        grid-template-columns: 1fr;
    }
    .about-title {
        grid-column: 1/2;
    }
    .about-image {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .about-item-01, 
    .about-item-02, 
    .about-item-03, 
    .about-item-04 {
        grid-column: 1/2;
    }
    .button-pc {
        display: none;
    }
    .button-mobile {
        display: block;
        margin-bottom: 20px;
    }
    .footer-social {
        top: 100px;
    }
    .footer-circle {
        top: 85px;
    }
}
@media (max-width: 540px) {
    .title {
        padding-top: 20px;
        padding-left: 19px;
    }
    .image {
        top: 450px;
    }
    .title-button {
        margin-left: 0;
        width: 100%;
    }
    .section-events {
        padding-top: 500px;
    }
    .event-item, 
    .event-container {
        height: 400px;
    }
    .event-date {
        padding-top: 18px;
        padding-left: 26px;
    }
    .event-name {
        padding-top: 10px;
        padding-left: 24px;
    }
    .event-button {
        margin-top: 39px;
        margin-left: 0px;
        width: 100%;
        padding: 20px 0px;
    }
}
@media (max-width: 450px) {
    .title {
        padding-left: 0;
    }
    .title-h1, .title-training, .title-h3 {
        font-size: 26px;
        padding-left: 10px;
    }
    .title-training-number {
        padding-right: 15px;
    }
    .title-training-description, 
    .training-item-time, 
    .event-name, 
    .training-date, 
    .training-name, 
    .about-description, 
    .about-item-description, 
    .about-name, 
    .nav-mobile .nav-link {
        font-size: 16px;
    }
    .event-date, 
    .training-description, 
    .footer-top .nav-link, 
    .footer-email {
        font-size: 12px;
    }
    .event-container:hover .event-button {
        opacity: 0;
    }
    .event-container:hover .event-hashtag {
        opacity: 1;
    }
    .button-mobile-event {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
    .button-mobile-event:focus {
        outline: none;
    }
    .event-hashtag-type {
        font-size: 12px;
        padding: 0px 20px;
    }
    .event-hashtag {
        left: 0;
        right: auto;
    }
    .event-item, .event-container {
        height: 310px;
    }
    .event-item-03 {
        background-image: url(../img/1x/Vebinar\ 2m.png);
        height: 336px;
    }
    .training {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(114px, auto));
    }
    .training-item-active {
        height: 206px;
    }
    .training-item-image, 
    .training-item:hover .training-item-image, 
    .training-item-active .training-item-image {
        transform: scale(0.7);
    }
    .training-item:hover .training-item-container, 
    .training-item-active .training-item-container {
        transform: translateY(-60px);
    }
    .training-item:hover {
        height: 206px;
    }
    .section-about {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-image {
        height: 207px;
    }
    .footer-social {
        top: 90px;
    }
    .footer-bottom p, 
    .footer-link {
        font-size: 10px;
        padding-top: 10px;
    }
    .footer-bottom {
        padding-top: 36px;
    }
}
@media (max-width: 360px) {
    .logo{
        transform: scale(0.8);
        margin-left: 5px;
    }
    .social {
        margin-right: 0px;
        width: 76px;
    }
    .nav-social {
        margin-right: 10px;
    }
    .nav-link img {
        transform: scale(0.8);
    }
    .wraper {
        padding-left: 5px;
        padding-right: 5px;
    }
    .title {
        padding-top: 33px;
    }
    .title-h3 {
        margin-bottom: 20px;
    }
    .title-h1, 
    .title-training, 
    .title-training-description {
        padding-left: 0;
    }
    .title-button {
        margin-top: 20px;
    }
    .image {
        top: 483px;
    }
    .section-events {
        padding-top: 407px;
    }
    .event-item {
        margin-bottom: 12px;
    }
    .section-training {
        padding-top: 41px;
    }
    .training-item-time {
        margin-right: 20px;
    }
    .training-item-image {
        left: 15px;
        bottom: 15px;
    }
    .training-item-container, 
    .training-description {
        left: 85px;
    }
    .training-item-image, 
    .training-item:hover .training-item-image, 
    .training-item-active .training-item-image {
        transform: scale(0.5);
    }
    .section-form {
        margin-top: 80px;
    }
    .form .title-h3 {
        padding-top: 56px;
        margin-left: 46px;
        padding-right: 70px;
        text-align: center;
    }
    .circle {
        left: 27px;
        top: 17px;
        transform: scale(0.6);
    }
    .form-field {
        padding-top: 30px;
    }
    .form-button {
        margin-top: 45px;
        width: 98%;
    }
    .section-about {
        padding-top: 33px;
        padding-bottom: 57px;
    }
    .about .title-h3 {
        padding-left: 0;
    }
    .about-description {
        padding-right: 0px;
    }
    .about-item {
        margin-bottom: 3px;
    }
    .about-item-description {
        padding-right: 80px;
    }
    .button-mobile {
        margin-bottom: 45px;
    }
    .footer {
        background-color: #FEFCFE;
    }
    .footer nav {
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .footer-top .nav-item {
        margin-left: 5px;
        margin-right: 15px;
    }
    .footer-circle {
        left: -28px;
        top: 109px;
        transform: scale(0.9);
    }
    .footer-email {
        padding-left: 5px;
    }
    .footer-social {
        top: 128px;
    }
    .footer-social .nav-social {
        margin-right: 15px;
    }
}